* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    color: #fbbf24;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 50px;
}

.hero-text span {
    color: #fbbf24;
}

.hero-img img {
    width: 280px;
    border-radius: 20px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #fbbf24;
    color: #020617;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
.section {
    padding: 60px 80px;
}

.dark {
    background-color: #020617;
}

.section h2 {
    margin-bottom: 20px;
}

/* BOX */
.box {
    background-color: #0f172a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.date {
    font-size: 14px;
    color: #9ca3af;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skill {
    background-color: #0f172a;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

/* LIST */
.list li {
    margin: 10px 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
    font-size: 14px;
}
