* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #000000, #111827);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CARD */
.container {
    background: #020617;
    width: 340px;
    padding: 28px;
    border-radius: 18px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.8);
    text-align: center;
    color: #e5e7eb;
}

h2 {
    margin-bottom: 20px;
    color: #f9fafb;
}

/* INPUT FIELDS */
.field {
    text-align: left;
    margin-bottom: 16px;
}

label {
    font-size: 14px;
    color: #9ca3af;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #1f2933;
    background: #020617;
    color: #e5e7eb;
    outline: none;
}

input::placeholder {
    color: #6b7280;
}

input:focus, select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 8px rgba(59,130,246,0.4);
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    margin-top: 18px;
    background: linear-gradient(135deg, #2563eb, #1d4ed8);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(37,99,235,0.6);
}

/* RESULT */
.result {
    margin-top: 22px;
    padding: 15px;
    background: #020617;
    border-radius: 12px;
    border: 1px solid #1f2937;
}

.result p {
    font-size: 18px;
    font-weight: bold;
    color: #22c55e;
}
